*~
*.sqlite3
.DS_Store
*.log
*.pem
coverage
nbproject
config/database.yml
config/couchdb.yml
tmp/.*
tmp/*
doc/*
db/*
.idea/

vendor/sync/*
!vendor/sync/DataFactory/
!vendor/sync/FreshBooks/
!vendor/sync/PivotalTracker/
!vendor/sync/Store/
!vendor/sync/SugarCRM/
!vendor/sync/SystemApiSamples/
!vendor/sync/Test/
